<h1>Lab 3.3 Giới thiệu về Python Pandas</h1>

Thời lượng dự kiến: **15** phút

<p><strong>Chào mừng!</strong> Notebook này sẽ hướng dẫn bạn cách sử dụng<code>Pandas</code> trong Ngôn ngữ Lập trình Python. Kết thúc bài Lab này, bạn sẽ biết cách sử dụng gói <code>Pandas</code>  để xem và truy cập dữ liệu.</p>

<h2>Mục lục</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Về tập dữ liệu</li>
        <li>Giới thiệu về <code>Pandas</code></li>
        <li>Xem và truy cập dữ liệu</li>
        <li>Quiz về Khung dữ liệu (DataFrame)</li>
    </ul>
</div>

<hr>

<h2 id="dataset">Về tập dữ liệu</h2>

Trong bảng, thông tin mỗi bộ phim nằm trong một hàng và các cột:

<ul>
    <li><b>artist</b>: Tên nghệ sĩ</li>
    <li><b>album</b>: Tên album</li>
    <li><b>released_year</b>: Năm phát hành album</li>
    <li><b>length_min_sec</b>: Độ dài album (giờ, phút, giây)</li>
    <li><b>genre</b>: Thể loại album</li>
    <li><b>music_recording_sales_millions</b>: Doanh thu đĩa nhạc (triệu USD) trên <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Doanh số đã tuyên bố của album (triệu USD) trên <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Ngày phát hành album</li>
    <li><b>soundtrack</b>: Cho biết album có phải là movie soundtrack (Y - Có) hay không (N - Không)</li>
    <li><b>rating_of_friends</b>: Cho biết xếp hạng từ bạn bè từ 1 tới 10</li>
</ul>

Có thể xem tập dữ liệu bên dưới:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th>
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td>
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td>
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td>
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td>
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td>
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td>
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td>
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td>
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="pandas">Giới thiệu về <code>Pandas</code></h2>

In [ ]:
# Dependency needed to install file

!pip install xlrd

In [1]:
# Import required library

import pandas as pd

Sau lệnh nhập, bây giờ chúng ta có quyền truy cập vào một lượng lớn các lớp và hàm được tạo sẵn. Giả sử thư viện đã được cài đặt; trong môi trường lab của chúng ta, tất cả các thư viện cần thiết đã được cài đặt. Pandas cho phép bạn làm việc với dữ liệu qua khung dữ liệu. Hãy thực hiện quá trình để chuyển từ tệp các giá trị được phân tách bằng dấu phẩy (<b>.csv</b>) sang khung dữ liệu. Biến <code>csv_path</code> lưu trữ đường dẫn của <b>.csv</b>, được sử dụng làm đối số cho hàm <code> read_csv</code>. Kết quả được lưu trữ trong đối tượng <code> df</code>, đây là dạng rút gọn phổ biến được sử dụng cho một biến tham chiếu đến khung dữ liệu Pandas.

In [2]:
# Read data from CSV file

csv_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

Chúng ta có thể sử dụng phương thức <code> head()</code> để kiểm tra 5 hàng đầu của khung dữ liệu:

In [3]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

Chúng ta sử dụng đường dẫn của tệp excel và hàm <code>read_excel</code>. Kết quả được một khung dữ liệu như trước:

In [4]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

Chúng ta có thể truy cập cột <b>Length</b> và gán cho nó một khung dữ liệu mới <b> x</b>:

In [5]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

Quá trình được hiển thị trong hình:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgOne.png" width="750" />

<hr>

<h2 id="data">Xem và truy cập dữ liệu</h2>

Bạn cũng có thể lấy một cột dưới dạng một chuỗi. Bạn có thể coi chuỗi Pandas là khung dữ liệu 1-D. Chỉ cần sử dụng một dấu ngoặc:

In [6]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

Bạn cũng có thể lấy một cột làm khung dữ liệu. Ví dụ: chúng ta có thể chỉ định cột <b>Artist</b>:

In [7]:
# Get the column as a dataframe

x = type(df[['Artist']])
x

pandas.core.frame.DataFrame

Bạn có thể làm điều tương tự cho nhiều cột; chúng ta chỉ đặt tên khung dữ liệu, trong trường hợp này là <code> df</code> và tên nhiều tiêu đề cột được đặt trong dấu ngoặc kép. Kết quả được một khung dữ liệu mới bao gồm các cột được chỉ định:

In [ ]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

Quá trình được hiển thị trong hình:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgTwo.png" width="1100" />

Một cách để truy cập các phần tử duy nhất là phương thức <code> iloc</code>, bạn có thể truy cập hàng đầu tiên và cột đầu tiên như sau:

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

Bạn có thể truy cập hàng thứ 2 và cột thứ nhất như sau:

In [ ]:
# Access the value on the second row and the first column

df.iloc[1,0]

Bạn có thể truy cập hàng đầu tiên và cột thứ 3 như sau:

In [ ]:
# Access the value on the first row and the third column

df.iloc[0,2]

Bạn cũng có thể truy cập cột bằng cách sử dụng tên, các mục sau giống như trên:

In [ ]:
# Access the column using the name

df.loc[0, 'Artist']

In [ ]:
# Access the column using the name

df.loc[1, 'Artist']

In [9]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [8]:
# Access the column using the name

df.loc[1, 'Released']

1980

Bạn có thể thực hiện cắt bằng cách sử dụng cả chỉ mục và tên của cột:

In [10]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [11]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

<hr>

<h2 id="quiz">Quiz về Khung dữ liệu</h2>

Sử dụng biến <code> q</code> để lưu cột <b>Rating</b> dưới dạng khung dữ liệu

In [13]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Bấm __vào đây__ để xem đáp án.

<!-- Your answer is below:
q = df[['Rating']]
q
-->

Gán biến <code> q</code> cho khung dữ liệu được tạo thành từ cột <b>Released</b> và <b>Artist</b>:

In [16]:
q= df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Bấm __vào đây__ để xem đáp án.

<!-- Your answer is below:
q = df[['Released', 'Artist']]
q
-->

Truy cập hàng thứ 2 và cột thứ 3 của <code> df</code>:

In [18]:
df.iloc[1,2]

1980

Bấm __vào đây__ để xem đáp án.

<!-- Your answer is below:
df.iloc[1, 2]
-->

<hr>
Nguồn: IBM
<hr>

<hr>